/* new css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(227, 237, 233);
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
}
.main-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 40px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.heading {
  display: flex;
  font-size: 40px;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: rgb(80, 108, 184);
  letter-spacing: 2px;
}

.heading::after {
  content: " ";
  height: 4px;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: rgb(80, 108, 184);
  border-radius: 5px;
}
/* .heading:hover::after {
  width: 100%;
  transition: all 2s ease-in-out;
} */

.icon {
  display: flex;
  margin-left: 10px;
}
.icon:hover {
  transform: scale(1.12);
}
.container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 600px;
  align-items: center;
  background-color: transparent;
  /* background-image: radial-gradient(white, rgb(218, 227, 245)); */
  padding: 20px;
  /* box-shadow: 2px 2px 5px rgb(110, 110, 176); */
}
.amount-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* justify-content: center; */
  align-items: center;
}
.balance-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(80, 108, 184);
}
.money {
  display: flex;
  font-size: 20px;
  text-align: center;
  justify-content: center;
}
.rupee {
  display: flex;
  font-size: 20px;
  align-items: center;
  justify-content: center;
}
.income-expense-container {
  display: flex;
  width: 60%;
  justify-content: space-between;
  /* padding: 10px 30px; */
  font-size: 12px;
  height: 80px;
  border: 2px solid rgb(80, 108, 184);
  border-radius: 5px 60px;
  margin-top: 10px;
}
.income,
.expanse {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 13px;
  letter-spacing: 1.2px;
  background-color: rgb(239, 242, 248);
}
.income {
  color: green;
}
.expanse {
  color: red;
}

.header {
  font-size: 24px;
  color: rgb(80, 108, 184);
  margin-top: 10px;
}
.transaction-list {
  display: flex;
  width: 80%;
  margin-top: 10px;
  flex-direction: column;
}
.list-items {
  display: flex;
  width: 100%;
  /* background-color: rgb(239, 242, 248); */
  /* padding: 10px 10px; */
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-top: 10px;
  color: rgb(80, 108, 184);
  border: 2px solid rgb(80, 108, 184);
  border-radius: 5px 60px;
}

.item-name,
.active,
.inactive,
.buttons {
  background-color: rgb(239, 242, 248);
  width: 33.33%;
  padding: 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active {
  color: green;
}
.inactive {
  color: red;
}

.delete-btn {
  font-size: 20px;
  background-color: transparent;
  border: none;
  margin-right: 5px;
  cursor: pointer;
  color: red;
}
.delete-btn:hover {
  transform: scale(1.1);
}

.addExpense {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
.header2 {
  font-size: 16px;
  color: rgb(80, 108, 184);
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}
.form-box {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
.form-input {
  padding: 8px 15px;
  width: 50%;
  color: rgb(80, 108, 184);
  font-size: 15px;
  letter-spacing: 2px;
  border: 2px solid rgb(80, 108, 184);
  border-radius: 15px;
  background-color: rgb(239, 242, 248);
}
.form-input:focus-visible {
  outline: none;
}
.form-label {
  font-size: 20px;
  color: rgb(80, 108, 184);
  margin-right: 10px;
}

.note {
  width: 100%;
  text-align: center;
  margin-top: 5px;
  color: rgb(110, 110, 176);
}

.btn1 {
  margin-top: 10px;
  /* width: 25%; */
  padding: 10px 20px;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
  color: white;
  background-color: rgb(80, 108, 184);
  border: 2px solid rgb(80, 108, 184);
  border-radius: 5px;
  cursor: pointer;
}
.btn1:hover {
  color: white;
  background-color: rgb(60, 91, 185);
}
.nodata {
  color: rgb(110, 110, 176);
  font-size: 22px;
}
@media screen and (max-width: 650px) {
  .container {
    width: 100%;
    padding: 0;
  }
  .transaction-list {
    width: 100%;
  }
  .income-expense-container {
    width: 100%;
  }
  .form-input {
    width: 80%;
  }
  .heading {
    font-size: 24px;
  }
}
@media screen and (max-width: 360px) {
  .icon {
    display: none;
  }
}
