* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  /* height: 100vh; */
  padding: 40px;
  align-items: center;
  justify-content: center;
  background-color: rgb(227, 237, 233);
}

.main-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  width: 600px;
  /* height: 500px; */
  align-items: center;
  background-color: rgb(218, 227, 245);
  background-image: radial-gradient(white, rgb(218, 227, 245));
  padding: 20px;
  box-shadow: 2px 2px 5px rgb(110, 110, 176);
}

.heading {
  display: flex;
  font-size: 30px;
  width: 50%;
  text-align: center;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 10px;
  color: rgb(80, 108, 184);
  letter-spacing: 2px;
}

.icon {
  display: flex;
  margin-left: 10px;
}
.icon:hover {
  transform: scale(1.12);
}

.form-container {
  display: flex;
  width: 66.66%;
  justify-content: center;
}
.input {
  padding: 10px;
  width: 75%;
  color: rgb(80, 108, 184);
  font-size: 15px;
  letter-spacing: 2px;
  border: 2px solid rgb(80, 108, 184);
  border-right: 0px;
  /* background: transparent; */
  background-color: aliceblue;
}
.input:focus-visible {
  outline: none;
}
.btn {
  width: 25%;
  padding: 10px;
  font-size: 15px;
  font-weight: 300;
  letter-spacing: 1px;
  color: white;
  background-color: rgb(80, 108, 184);
  border: 2px solid rgb(80, 108, 184);
  cursor: pointer;
}
.btn:hover {
  color: white;
  background-color: rgb(60, 91, 185);
}

.list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  width: 100%;
}
.single-task {
  display: flex;
  padding: 5px 10px;
  width: 66.66%;
  height: 40px;
  justify-content: space-between;
  align-items: center;
  /* background-color: #fff; */
  font-size: 20px;
  color: rgb(80, 108, 184);
}
.btn2 {
  font-size: 18px;
  background-color: transparent;
  border: none;
  margin-right: 5px;
  cursor: pointer;
}
.btn2:hover {
  transform: scale(1.1);
}
.edit {
  color: green;
}
.delete {
  color: red;
  /* font-size: 20px; */
}
.clear {
  padding: 5px;
  border: red solid 1px;
  color: rgb(246, 55, 17);
  background: transparent;
  cursor: pointer;
  font-size: 14px;
  font-weight: lighter;
  margin-top: 10px;
}
.clear:hover {
  transform: scale(1.1);
}
.alert {
  display: flex;
  width: 66.66%;
  color: #fff;
  height: 40px;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  letter-spacing: 2px;
  padding: 5px;
  text-align: center;
}
.success {
  background-color: rgb(176, 236, 165);
}
.error {
  background-color: rgb(248, 127, 127);
}

@media screen and (max-width: 650px) {
  .main-container {
    width: 90vw;
  }
  .form-container {
    width: 100%;
  }
  .heading {
    width: 100%;
  }
  .single-task {
    width: 100%;
  }
}
@media screen and (max-width: 360px) {
  .form-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .input {
    border-right: 2px solid rgb(80, 108, 184);
    margin-bottom: 10px;
  }
  .btn {
    width: 75%;
  }
  .icon {
    display: none;
  }
}
